<% include partials/header %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>
  <% if (locals.session ) { %>
    <a class="waves-effect waves-light btn" href="/albums/<%= album.id %>/new-review">Add Review</a>
  <% } %>

  <div class="review-list">
    <% reviews.forEach(function(review) { %>
      <% console.log('from view::::;',review)%>
      <div class="col s12 m7">
         <div class="card horizontal">
           <div class="card-stacked">
             <div class="card-content">
               <h5><%= review.title %></h5>
               <p><%= review.created_on %></p>
               <p><%= review.content %></p>
               <p>by: <%= review.username %> </p>
               <% if (locals.session && locals.session.passport.user == review.id) { %>
                 <a href="#" class="delete btn-floating halfway-fab waves-effect waves-light red" data-id="<%= review.id %>"><i class="material-icons" >delete_forever</i></a>
               <% } %>
             </div>
             <div class="card-action">
               <a href="#">This is a link</a>
             </div>
           </div>
         </div>
       </div>
      <% }) %>
  </div>

<% include partials/footer %>
