<% include partials/header %>

  <h1><%= album.title %></h1>
  <em>by <%= album.artist %></em>

  <h2>Reviews</h2>
  <% if (locals.session ) { %>
    <a class="waves-effect waves-light btn" href="/albums/<%= album.id %>/new-review">Add Review</a>
  <% } %>

  <div class="review-list">
    <% reviews.forEach(function(review) { %>
      <h5><%= review.title %></h5>
      <p><%= review.created_on %></p>
      <p><%= review.content %></p>
      <p>by: <%= review.username %> </p>
    <% }) %>
  </div>

<% include partials/footer %>
