<% include partials/header %>

  <h1>Vinyl</h1>
  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <div class="review-list">
    <h2> Recent Reviews</h2>
    <% reviews.forEach(function(review) { %>
      <h5><%= review.title %></h5>
      <p><%= review.created_on %></p>
      <p><%= review.content %></p>
      <p>by: <%= review.username %> </p>
    <% }) %>
  </div>

<% include partials/footer %>
