<!DOCTYPE html>
<html>
<head>
  <title>Vinyl</title>
  <link rel="stylesheet" type="text/css" href="/style.css">
  <script type="text/javascript" src="/script.js"></script>
</head>
<body>

  <h1>Vinyl</h1>

  <h2>Records</h2>

  <div class="album-list">
    <% albums.forEach(function(album) { %>
      <div>
        <h5><a href="/albums/<%= album.id %>"><%= album.title %></a></h5>
        <span><%= album.artist %></span>
      </div>
    <% }) %>
  </div>

  <div class="review-list">

    <% reviews.forEach(function(review) { %>
    <% console.log('in view _+_+_+_+', review)%>
      <h5><%= review.title %></h5>
      <p><%= review.created_on %></p>
      <p><%= review.content %></p>
      <p>by: <%= review.username %> </p>
    <% }) %>
  </div>

</body>
</html>
